
<section class="registrations">
  <h2 class="registrations__title">Skráningar</h2>

  <% if (registrations.length === 0) { %>
    <p class="registrations__empty">Engar skráningar.</p>
  <% } else { %>
    <table class="registrations__table" cellpadding="0">
      <tr>
        <th>Dags</th>
        <th>Nafn</th>
        <th>Sími</th>
      </tr>
      <% registrations.forEach((row) => { %>
        <tr>
          <td class="date"><%= formatDate(row.signed) %></td>
          <td class="name"><%= row.name %></td>
          <td class="comment"><%= row.phone %></td>
        </tr>
      <% }) %>
      </tr>
    </table>
  <% } %>
</section>
